<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-List-App</title>
    <link rel="shortcut icon" href="myicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="box" id="heading">
        <h1>It's <%=listName%> <br>Your To_Do_List</h1>
    </div>

    <div class="box">
        <% for(let i=0;i<iteamArray.length;i++){ %>
            <div class="item">
                <div class="chk"><input type="checkbox"></div>
                <div class="main"><p> <%= iteamArray[i].name %> </p></div>
                <div class="rght"><form action="/delete" method="post">
                    <button class="rm" type="submit" name="remove" value=<%= iteamArray[i].id %>    >-</button>
                </form></div>
            </div>
            <% } %>


            <form  class="item entr" action="/" method="post">
                <input type="text" name="newItm" placeholder="Add  a New Iteam" autocomplete="off" required>
                <button type="submit" name="button" value=<%= listName %> >+</button>
            </form>
    </div>
    

    <footer>
        <p class="ftr">
            All Copyrights are reserved <%= year %>. <br>Made with <span style="color: red;">❤</span> by <a href="https://www.linkedin.com/in/ashish-biswas" target="_blank">Ashish Biswas</a> 
        </p>
    </footer>









    

    
    
</body>
</html>